export(cfGAL)
export(cfLM)
export(cgfEsscherGAL)
export(cgfGAL)
export(changetypeGAL)
export(cmGAL)
export(dGAL)
export(dchangetypeGAL)
export(diffcgfEsscherGAL)
export(diffcgfGAL)
export(dmGAL)
export(dnormapproxEsscherLM)
export(dsaddleapproxGAL)
export(dscaleGAL)
export(mGAL)
export(mean.variance.GMM.gradient.GAL)
export(mgfGAL)
export(pGAL)
export(pnormapproxEsscherLM)
export(psaddleapproxEsscherGAL)
export(psaddleapproxGAL)
export(rGAL)
export(riskneutralparGAL)
export(saddlepointEsscherGAL)
export(saddlepointGAL)
export(scaleGAL)
export(startparamGAL)
export(testparGAL)
