export(cfGAL,
cfLM,
cgfEsscherGAL,
cgfGAL,
changetypeGAL,
cmGAL,
dchangetypeGAL,
dGAL,
diffcgfEsscherGAL,
diffcgfGAL,
dmGAL,
dnormapproxEsscherLM,
dsaddleapproxGAL,
dscaleGAL,
kurtosisGAL,
mean.variance.GMM.gradient,
mGAL,
mgfGAL,
pnormapproxEsscherLM,
psaddleapproxEsscherGAL,
psaddleapproxGAL,
rGAL,
riskneutralparGAL,
saddlepointEsscherGAL,
saddlepointGAL,
scaleGAL,
skewnessGAL,
startparamGAL,
testparGAL)
